<div id="branding">
  <h1 class="logo">
    <a href="#" title="&lt; Guest Book /&gt;">&lt; Guest Book /&gt;</a>
  </h1>
  <ul class="topNav">
    <li><a href="#" class="topNavAct">HOMEPAGE</a></li>
    <li><a href="/guestbook">GUEST &amp; BOOK</a></li>
    <li><a href="/newmessage">NEWMESSAGE</a></li>
    <li><a href="/ajaxmessage">AJAX &amp; NEWMESSAGE</a></li>
  </ul>
  <br class="clear" />
</div>
